* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(50,215,77,1) 100%);}

h1 {
  font-size: x-large;
  margin: 1rem;
  margin-left: 2rem;
}

.container {
  margin: 1rem;
  background-color: rgb(22, 44, 168);
  border-radius: 20px;
}

@media only screen and (min-width: 350px) {
  .container {
  width: 50vw;
  height: 80vh;
  margin: auto;
  }
  
}

.answer-text {
  padding: 1rem;
  font-size: 2.5rem;
  text-align: end;
  color: white;
}

.answer-text span {
  color: white;
}

.blinking-cursor {
  font-weight: bold;
  font-size: 1.5rem; /* Sesuaikan ukuran sesuai kebutuhan */
  color: black;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

ul {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
  padding: 0.5rem;
  padding-top: 2.5rem;
}

ul li {
  list-style: none;
  font-size: larger;
  padding: 0.5rem;
  background-color: rgb(235, 250, 245);
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}

ul li:hover {
  background-color: rgb(123, 124, 122);
  transition: 2ms ease all;
}